<h1>Socks!</h1>

<% @socks.each_slice(3) do |three_socks| %>
<div class= "row">
<% three_socks.each do |sock|%>
<div class="col-md-4">
<div class="well">
  <p><%= sock.name %></p>
  <p><%= image_tag sock.images.first.url%></p>
  <p><%= " Price: #{sock.price}" %></p>
  <p><%= "Description: #{sock.description}" %></p>
  <p><%= "Size: #{sock.size}" %></p>
  <a href="/socks/<%=sock.id%>">More info</a>   
  </div>
  </div>
  <% end %>
</div>
<% end %>
