<h1>Socks!</h1>
<div class= "row">
<% @socks.each do |sock| %>
<div class="col-md-4">
<div class="well">
  <p><%= sock.name %></p>
  <p><%= image_tag sock.image %></p>
  <p><%= " Price: #{sock.price}" %></p>
  <p><%= "Description: #{sock.description}" %></p>
  <p><%= "Size: #{sock.size}" %></p>
  <a href="/socks/<%=sock.id%>">More info</a>   
  </div>
  </div>
<% end %>
</div>
