<h1><%= @sock.description %></h1>
<div class="well" id ="showPage">
<p><%= @sock.name %></p>
<p>Supplier: <%= @sock.supplier.name %></p>
<p>Price: <%= number_to_currency(@sock.price)%></p>
<p>Tax: <%= number_to_currency(@sock.tax) %></p>
<p>Total: <%= number_to_currency(@sock.total) %></p>
<% if @sock.discounted? %>
<p>Discount item!</p>
<% else %>
<p>On sale!</p>
<% end %>
<p><%= image_tag @sock.image %></p>
<p>Size: <%= @sock.size %></p>
<a href = "/socks"> Back to all socks! </a>
<a href = "/socks/<%=@sock.id%>/edit"> Edit this sock! </a>
<div>

  <%= link_to "Delete this sock", "/socks/#{@sock.id}", method: :delete %>
</div>

  </div>