<h1><%= @sock.description %></h1>
<div class="well" id ="showPage">
<p><%= @sock.name %></p>
<p>Price: <%= @sock.price %></p>
<p>Tax: <%= @sock.tax %></p>
<p>Total: <%= @sock.total %></p>
<p><%= @sock.sale_message %></p>
<p><%= image_tag @sock.image %></p>
<p>Size: <%= @sock.size %></p>
<a href = "/socks"> Back to all socks! </a>
<a href = "/socks/<%=@sock.id%>/edit"> Edit this sock! </a>
<div>

  <%= link_to "Delete this sock", "/socks/#{@sock.id}", method: :delete %>
</div>

  </div>