<h1><%= @sock.description %></h1>
<p><%= @sock.name %></p>
<p><%= @sock.price %></p>
<p><%= image_tag @sock.image %></p>
<p><%= @sock.size %></p>
<a href = "/socks"> Back to all socks! </a>
<a href = "/socks/<%=@sock.id%>/edit"> Edit this sock! </a>